#section1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#section2 {
    color: springgreen;
    text-rendering:geometricPrecision;
    text-align: center;
    font-style:italic;
    font-size: 15px;
}

#section3 {
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-weight: 10;
}