#img1 {
    object-fit:cover;
    filter: blur(4px)
}

#img2 {
    object-fit:cover;
    filter: brightness(150%);
}

#img3 {
    object-fit:cover;
    filter: grayscale(50%);
}

#img4 {
    object-fit:cover;
    filter: contrast(50%);
}

#img5 {
    object-fit:cover;
    filter: opacity(0.8);
}

#img6 {
    object-fit:cover;
    filter: saturate(150%);
}

#img7 {
    object-fit:cover;
    filter: sepia(50%);
}